@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #02897a;
  --text-color: #22343d;

  --white-color: #fff;
  --body-color: #fff;

  --btn-color: #173a56;
  --bg-light: url('../images/bg-img.png');

  --expert-light-img: url('../images/expert-light-img.png');
  --black-color:#22343d; 

  --border-color: #ececec;
  --enterprise-bg-color: linear-gradient(180deg, #f7f7f7 0%, rgba(247, 247, 247, 0) 100%);

  --result-bg-color: #f5f5f5;
  --faq-border: #e7e7e7;
  --black: #000;

}
.dark{
  --body-color: #1f2e35;
  --text-color: #fff;

  --btn-color: #fff;
  --bg-light: url('../images/dark-bg.png');

  --expert-light-img: url('../images/expert-dark-img.png');
  --faq-border: #474747;

  --border-color: #1f2e35;
  --black: #fff;

  --enterprise-bg-color: #22343d;
  --result-bg-color: #22343d;
}
html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 100%;
  max-width: 1140px;
  padding: 0 1.5%;
  margin: 0 auto;
}
.site-header {
  padding-top: 19px;
}
.header__logo__link, .footer__logo__link{
  text-decoration: none;
}
.none{
  display: none;
}
.header__logo__text, .footer__logo__text {
  margin-left: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: var(--btn-color);
}
.header__list {
  list-style: none;
}
.nav__item {
  margin-right: 24px;
}
.nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-color);
}
.nav__link:hover{
  -webkit-text-fill-color: var(--text-color);
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--text-color);
}
.nav__link--active{
  font-weight: 600;
}
.site-nav__btn{
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: var(--white-color);
  display: none;
}
.header__btn, .hero__link, .product__link, .expert__link{
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.4s ease;
  border-radius: 4px;
  padding: 10px 22px 10px 25px;
  margin-right: 24px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid transparent;
}
.header__signin__btn{
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid #bcd0e5;
}
.header__btn:hover{
  background-color: var(--body-color);
  border: 1px solid #bcd0e5;
  color: var(--text-color);
}
.header__dark__btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.burger-btn{
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.4s ease;
  display: none;
  color: var(--text-color);
}


/* HERO START  */

.hero-content {
  padding-top: 43px;
}
.hero__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: var(--text-color);
  margin-bottom: 18px;
}
.hero__desc {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 45px;
}
.hero__link {
  padding: 15px 41px;
  display: inline-block;
}
.hero__link:hover{
  background-color: var(--body-color);
  border: 1px solid #bcd0e5;
  color: var(--text-color);
}
.bxs-right-arrow{
  font-size: 25px;
  position: relative;
  top: 5px;
  margin-right: 8px;
  transition: all 0.5s ease;
}
.hero__video__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
}
.hero__video__link:hover .bxs-right-arrow{
  transform: translate(12px);
}


/* HERO END  */

/* PRODUCT START  */

#product{
  padding-bottom: 90px;
  padding-top: 114px;
  background-image: var(--bg-light);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 150px;
}
.product__title{
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 58px;
  width: 529px;
  margin: 0 auto;
  margin-bottom: 58px;

}
.product__list{
  list-style: none;
  margin-bottom: 34px;
}
.product__item::before{
  content: "";
  width: 55px;
  height: 55px;
  background-image: url('../images/click-test.svg');
  display: inline-block;
  margin-bottom: 30px;
}
.product__item:nth-child(2)::before{
  background-image: url('../images/design-survey.svg');
}
.product__item:nth-child(3)::before{
  background-image: url('../images/preference.svg');
}
.product__item:nth-child(4)::before{
  background-image: url('../images/five-second-img.svg');
}
.product__sub__title {
  font-size: 22px;
  line-height: 33px;
  color: var(--text-color);
  margin-bottom: 13px;
}
.product__text {
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
  margin-bottom: 26px;
}
.product__link:hover{
  background-color: var(--body-color);
  border: 1px solid #bcd0e5;
  color: var(--text-color);
}
.product__link__wrapper{
  text-align: center;
}

/* PRODUCT END  */

/* MANAGEMENT START  */

.management__title {
  font-weight: 600;
  line-height: 24px;
  color: var(--text-color);
  margin-bottom: 12px;
}
.management__sub__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: var(--text-color);
}
.management__text {
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
  width: 436px;
  margin-bottom: 25px;
}
.management__item{
  margin-bottom: 150px;
}
.management__item:nth-child(even){
  flex-direction: row-reverse;
}
.management__inner__list {
  list-style: none;
}
.management__inner__item{
  display: flex;
  margin-bottom: 30px;
}
.management__inner__item::before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url('../images/tick-img.svg');
  display: inline-block;
  margin-right: 30px;
}
.management__inner__item:nth-child(2)::before{
  background-image: url('../images/red-icon.svg');
}
.management__inner__item:nth-child(3)::before{
  background-image: url('../images/blue-icon.svg');
}

.management__inner__text {
  width: 365px;
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
}

/* MANAGEMENT END  */

/* EXPERT START  */

#expert{
  background-image: var(--expert-light-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 150px;
}
.expert__wrapper, .price__text__wrapper{
  text-align: center;
  padding-bottom: 32px;
  padding-top: 53px;
}
.expert__title, .price__title {
  font-size: 32px;
  line-height: 48px;
  color: var(--text-color);
}
.expert__text, .price__text {
  font-weight: 500;
  line-height: 26px;
  color: var(--text-color);
  width: 542px;
  margin: 0 auto;
}
.exert__list{
  width: 80%;
}
.expert__item::before{
  content: "";
  width: 102px;
  height: 102px;
  background-image: url('../images/avatar-1.svg');
  display: inline-block;
  margin: 0 16px;
}
.expert__item:not(:nth-child(1)){
  flex-direction: row-reverse;
}
.expert__item:nth-child(4){
  flex-direction: row;
}
.expert__desc{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f281e;
  background-color: var(--white-color);
  padding: 15px 25px;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
}
.expert__link__wrapper{
  text-align: center;
  padding-top: 24px;
}
.expert__link:hover{
  background-color: var(--body-color);
  border: 1px solid #bcd0e5;
  color: var(--text-color);
}
.expert__link{
  display: inline-block;
}
.expert__item{
  position: relative;
  margin-bottom: 24px;
}
.expert__item:nth-child(2)::before{
  background-image: url('../images/avatar-2.svg');
}
.expert__item:nth-child(3)::before{
  background-image: url('../images/avatar-3.svg');
}
.expert__item:nth-child(4)::before{
  background-image: url('../images/avatar-4.svg');
}

/* BUSINESS START  */

.business{
  padding: 70px 0;
}
.business__inner{
  height: 482px;
}
.business__content{
  height: 100%;
}
.business__img{
  width: 100%;
}
.business__second__container{
  padding: 0 0;
}
.business__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 149%;
  letter-spacing: -0.03em;
  color: var(--text-color);
  margin-bottom: 24px;
  width: 380px;
}
.business__desc {
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: var(--text-color);
  margin-bottom: 24px;
}
.business__input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 100px;
  padding: 25px 140px 25px 27px;
  background-color: var(--body-color);
}
.business__input:focus{
  outline: none;
}
.business__input__wrapper{
  width: 469px;
  height: 66px;
  background-color: #fff;
  position: relative;
  border: 1px solid #eaeaea;
  border-radius: 100px;
  margin-bottom: 24px;
}
::placeholder{
  color: var(--text-color);
}
.business__btn {
  width: 117px;
  height: 50px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  font-weight: 600;
  color: var(--white-color);
  position: absolute;
  right: 8px;
  top: 8px;
  transition: all 0.4s ease;
  border: 1px solid transparent;
}
.business__img__wrapper{
  width: 100%;
}
.business__btn:hover{
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid #bcd0e5;
}
.business__join__text{
  font-weight: 500;
  color: var(--text-color);
}
.busines__amount{
  color: var(--primary-color);
}
.business__join__img{
  margin-right: 9px;
}

@media screen and (max-width: 922px) {
  .business__input__wrapper{
    width: 100%;
  }
  
}
@media screen and (max-width: 770px) {
  .business__inner{
    text-align: center;
  }
  .business__img{
    display: none;
  }
  ::placeholder{
    font-size: 14px;
  }
  .business__content{
    margin-bottom: 87px;
  }
  .business__input{
    width: 100%;
  }
  .business__join__img__wrapper{
    justify-content: center;
  }
  .business__img__wrapper{
    background-image: url('../images/mobile-img.png');
    background-repeat: no-repeat;
    width: 360px;
    height: 265px;
    margin: 0 auto;
  }
  .business__title{
    width: 100%;
  }
  .business__main__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/* EXPERT END  */

/* STRATEGY START  */

.strategy{
  margin-bottom: 150px;
}
.strategy--second{
  padding-top: 66px;
  padding-bottom: 70px;
}
.strategy__title {
  font-weight: bold;
  font-size: 34px;
  color: var(--text-color);
  margin-bottom: 8px;
}
.strategy__text {
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 33px;
}
.strategy__list{
  list-style: none;
  margin-bottom: 64px;
}
.strategy__item {
  width: 31%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--white-color);
}
.strategy__img{
  width: 340px;
  height: 185px;
  background-image: url('../images/strategy-img-1.png');
  border-radius: 8px 8px 0px 0px;
}
.strategy__img--second{
  background-image: url('../images/strategy-img-2.png');
  width: 341px;
  position: relative;
  left: -1px;
}
.strategy__img--third{
  background-image: url('../images/strategy-img-3.png');
}
.strategy__inner{
  padding:  24px 0px 40px 24px;
  width: 341px;
}
.strategy__date {
  color: var(--black-color);
  margin-bottom: 12px;
}
.strategy__bold__text {
  font-weight: 700;
}
.strategy__desc{
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: var(--black-color);
}
.strategy__desc--color{
  color: var(--primary-color);
}
.strategy__btn{
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
  border: none;
  background-color:  #efefef;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.strategy__btn:hover{
  background-color: var(--primary-color);
}
.strategy__btn--active{
  background-color: var(--primary-color);
}
.strategy__btn__wrapper{
  text-align: center;
}
.strategy__item--second{
  border: none;
}
.strategy__img--secondpage{
  background-image: url('../images/motivation-img.png');
}
.strategy__img--thirdpage{
  background-image: url('../images/success-img.png');
}
.strategy__img--fourthpage{
  background-image: url('../images/prosperties-img.png');
}
.strategy__img--fifthpage{
  background-image: url('../images/texting-img.png');
}
.strategy__img--sixthpage{
  background-image: url('../images/notebook-text.png');
}
.strategy__text__wrapper--second{
  text-align: center;
}
.strategy__more__link{
  text-align: center;
}
.strategy__story__link{
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}
.bx-chevron-right-circle{
  font-size: 20px;
  margin-left: 8px;
}

@media screen and (max-width: 1035px) {
  .strategy__list--second{
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

/* STRATEGY END  */

/* PRICE START  */

.price{
  margin-bottom: 150px;
}
.price--secodnpage{
  padding-top: 50px;
}
.price__list {
  list-style: none;
}
.price__item {
  width: 320px; 
  background-color: var(--white-color);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.price__item:not(:last-child){
  margin-right: 55px;
}
.price__item--active{
  background-color: var(--primary-color);
}
.price__inner{
  padding: 24px 76px 32px 73px;
  text-align: center;
}
.price__free {
  font-size: 24px;
  color: var(--black-color);
  margin-bottom: 8px;
}
.price__desc {
  font-size: 16px;
  white-space: nowrap;
  color: var(--black-color);
  margin-bottom: 16px;
}
.price__month {
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #afafaf;
  position: relative;
  left: 15px;
  margin-bottom: 16px;
}
.price__icon{
  font-size: 24px;
  font-size: 24px;
  letter-spacing: 0.1px;
  color: #02897a;
  font-weight: bold;
  position: relative;
  top: -12px;
}
.price__month__text{
  position: relative;
  left: -20px;
  top: 15px;
}
.price__dollar {
  font-size: 76px;
  line-height: 100px;
  letter-spacing: 0.2px;
  color: #02897a;
  font-weight: bold;
}
.price__notification {
  color: var(--black-color);
  letter-spacing: 0.2px;
  font-weight: 500;
}
.price__notification--line{
  margin-bottom: 16px;
}
.price__notification--margin{
  margin-bottom: 38px;
}
.price__btn {
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  font-weight: 600;
  font-size: 18px;
  color: var(--white-color);
  cursor: pointer;
  padding: 11px 19px;
  border-radius: 8px;
  transition: all 0.4s ease;
  border: 1px solid transparent;
}
.price__btn:hover{
  background-color: var(--white-color);
  border: 1px solid #bcd0e5;
  color: var(--black-color);
}
.price__text--active{
  color: #fff;
}
.price__btn--active{
  background-color: var(--white-color);
  color: var(--primary-color);
}
.price__btn--active:hover{
  background-color: var(--primary-color);
  color: var(--white-color);
}
.price__text__wrapper{
  padding-top: 0;
}
.price__title--secondpage{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 32px;
}
.price__second__page__text{
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: var(--text-color);
  margin-bottom: 16px;
}
.price__second__page__desc{
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 49px;
}

/* PRICE END  */

/* ENTERPRICE START  */

.enterprise{
  background: var(--enterprise-bg-color);
  margin-bottom: 150px;
}
.enterprise__inner {
  text-align: center;
  padding-top: 53px;
  padding-bottom: 62px;
}
.enterprise__title, .stats__title {
  font-weight: 600;
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 16px;
}
.enterprise__text {
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
  color: var(--text-color);
  margin-bottom: 8px;
}
.enterprise__desc {
  color: var(--text-color);
  margin-bottom: 32px;
}
.enterprise__link{
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 11px 18px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}
.enterprise__link:hover{
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid #bcd0e5;

}

/* ENTERPRISE END  */

/* STATS START  */

.stats{
  margin-bottom: 150px;
}
.stats__title{
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 56px;
  color: var(--text-color);
}
.stats__list {
  list-style: none;
}
.stats__img{
  width: 510px;
}
.stats__item {
  margin-bottom: 32px;
}
.stats__sub__title {
  font-weight: 600;
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 23px;
}
.stats__sub__title::before{
  content: "";
  width: 50px;
  height: 50px;
  background-image: url('../images/enteprenuer-img.svg');
  display: inline-block;
  margin-right: 14px;
}
.stats__sub__title--second::before{
  background-image: url('../images/accauntants.svg');
}
.stats__sub__title--third::before{
  background-image: url('../images/universities.svg');
}
.stats__text {
  color: var(--text-color);
  width: 533px;
}

@media screen and (max-width: 1095px) {
  .stats__inner{
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }
}
@media screen and (max-width: 600px) {
  .stats__img{
    display: none;
  }
  .stats__text{
    width: 100%;
  }
  .stats__img__wrapper{
    background-image: url('../images/product-repsonsive-img.png');
    background-repeat: no-repeat;
    width: 352px;
    height: 288px;
    margin-bottom: 48px;
  }
  
}

/* STATS END  */

/* FAQ START  */

.faq{
  margin-bottom: 150px;
}
.faq__inner {
  text-align: center;
}
.faq__title {
  font-weight: bold;
  font-size: 34px;
  color: var(--text-color);
  margin-bottom: 15px;
}
.faq__text {
  color: var(--text-color);
  margin-bottom: 50px;
}
.faq__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq__item {
  width: 85%;
  border-bottom: 1px solid var(--faq-border);
  margin-bottom: 16px;
}
.faq__question {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
}
.faq__question:hover{
  color: var(--primary-color);
  cursor: pointer;
}
.faq__btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 16px;
  background-image: url('../images/plus.svg');
  width: 24px;
  height: 24px;
}
.change-img{
  background-image: url('../images/minus.svg');
  width: 24px;
  height: 24px;
}
.faq__wrapper{
  padding-bottom: 22px;
}
.faq__answer{
  padding-top: 14px;
  line-height: 24px;
  color: var(--text-color);
  display: none;
}
.answer{
  display: block;
}

@media screen and (max-width: 503px) {
  .faq{
    padding: 0 5px;
  }
  .faq__item{
    width: 100%;
  }
  .faq__question{
    font-size: 14px;
  }
  .faq{
    margin-bottom: 100px;
  }
}

/* FAQ END  */

/* ADVERT START  */

.advert{
  padding: 110px 0px;
}
.advert__inner{
  text-align: center;
  width: 80%;
  margin: 0 auto;

}
.advert__title {
  font-weight: bold;
  font-size: 40px;
  color: var(--text-color);
  margin-bottom: 65px;
}
.advert__list {
  list-style: none;
}

@media screen and (max-width: 870px) {
  .advert__list{
    width: 100%;
    margin: 0 auto;
    padding-right: 20px;
  }
  .advert__title{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .advert{
    padding-top: 50px;
  }
  .advert__inner{
    justify-content: center;
  }
  .advert__item{
    margin-bottom: 60px;
    width: 35%;
  }
  .advert__img{
    width: 140%;
    margin: 0 auto;
  }
}

/* ADVERT END  */




/* CLIENT START  */

.client{
  margin-bottom: 150px;
}
.client__text__wrapper {
  margin: 0 auto;
  text-align: center;
}
.client__title {
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: var(--text-color);
  margin-bottom: 8px;
}
.client__text {
  letter-spacing: 0.2px;
  color: var(--text-color);
  font-weight: 500;
  line-height: 28px;
  width: 537px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.client__list {
  list-style: none;
}
.client__item {
  width: 327px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: var(--white-color);
}
.client__inner {
  padding: 26px;
}
.client__inner::before{
  content: "";
  width: 106px;
  height: 18px;
  background-image: url('../images/stars.svg');
  display: inline-block;
  margin-bottom: 16px;
}
.client__sub__text {
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 16px;
}
.client__img {
  margin-right: 14px;
}
.client__name {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #02897a;
}
.client__job {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252b42;
}

/* CLIENTS END  */

/* RESULT START  */

.result{
  padding-top: 24px;
  padding-bottom: 68px;
  background-color: var(--result-bg-color);
}
.result__title, .work__title{
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  color: var(--text-color);
  margin-bottom: 50px;
}
.result__list {
  list-style: none;
}
.result__inner{
  padding: 35px;
  text-align: center;
}
.result__inner::before{
  content: "";
  width: 55px;
  height: 55px;
  background-image: url('../images/click-test.svg');
  display: inline-block;
  margin-bottom: 32px;
}
.result__inner--second::before{
  background-image: url('../images/design-survey.svg');
}
.result__inner--third::before{
  background-image: url('../images/five-second-img.svg');
}
.result__item {
  width: 350px;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.result__sub__title {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1px;
  color: var(--text-color);
  margin-bottom: 16px;
}
.result__text {
  line-height: 27px;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

@media screen and (max-width: 1100px) {
  .result__list{
    flex-direction: column;
    align-items: center;
  }
  .result__item{
    margin-bottom: 32px;
  }
}

/* RESULT END  */

.work{
  padding: 110px 0;

}
.work__title{
  margin-bottom: 73px;
}
.work__list {
  list-style: none;
}
.work__item{
  margin-bottom: 100px;
}
.work__item:nth-child(2){
  flex-direction: row-reverse;
}
.work__sub__title {
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 16px;
}
.work__desc {
  font-weight: 600;
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 16px;
}
.work__text {
  line-height: 28px;
  color: var(--text-color);
  width: 438px;
}
.work__link__wrapper {
  text-align: center;
}
.work__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 11px 18px;
  border-radius: 8px;
  transition: all 0.4s ease;
  border: 1px solid transparent;
  display: inline-block;
}
.work__link:hover{
  background-color: var(--white-color);
  border: 1px solid #bcd0e5;
  color: var(--text-color);
}

@media screen and (max-width: 987px) {
  .work__item{
    display: flex;
    flex-direction: column;
  }
  .work__list{
    display: flex;
    flex-direction: column;
  }
  .work__item:nth-child(2){
    flex-direction: row;
    justify-content: center;
  }
  .work__img{
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 514px) {
  .work__list{
    padding: 0 10px;
  }
  .work__img{
    width: 100%;
  }
  .work__item{
    margin: 0 auto;
    width: 100%;
  }
  .work__item:nth-child(2){
    margin: 0 auto;
  }
  .work__text{
    width: 100%;
    margin-bottom: 70px;
  }
  
}

/* WORK END  */

/* OFFER START  */

.offer{
  background: var(--enterprise-bg-color);
  padding: 45px 0;
  margin-bottom: 150px;

}
.offer__inner{
  text-align: center;
}
.offer__title{
  font-weight: bold;
  font-size: 32px;
  color: var(--text-color);
  width: 537px;
  margin: 0 auto;
  margin-bottom: 93px;
  line-height: 48px;
}
.offer__list{
  list-style: none;
  width: 65%;
  margin: 0 auto;
}
.offer__item::before{
  content: "";
  width: 150px;
  height: 150px;
  background-image: url('../images/business-img.svg');
  display: inline-block;
  margin-bottom: 27px;
}
.offer__item:nth-child(2)::before{
  background-image: url('../images/enterprise-img.svg');
}
.offer__text{
  margin: 0 auto;
  font-size: 18px;
  line-height: 32px;
  color: var(--text-color);
}
.offer__text:nth-child(4){
  margin-bottom: 12px;
}
.offer__business {
  color: var(--black);
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}
.offer__desc{
  color: var(--black);
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .offer__list{
    justify-content: center;
  }
  .offer__title{
    width: 100%;
  }
  .offer__item:not(:last-child){
    margin-bottom: 66px;
  }
  .offer__desc{
    white-space: nowrap;
  }
  
}


/* COMPANY START  */

.company{
  margin-bottom: 150px;
}
.company__inner{
  width: 968px;
  padding: 14px 36px 0px 51px;
  background-color: var(--primary-color);
  border-radius: 32px;
  margin: 0 auto;
}
.company__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: var(--white-color);
  width: 510px;
  margin-bottom: 58px;
}
.company__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: var(--primary-color);
  background-color: var(--white-color);
  padding: 13px 35px 7px 33px;
  border-radius: 8px;
  transition: all 0.4s ease;
  border: 1px solid transparent;
}
.company__link:hover{
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid #bcd0e5;
}
.company__img {
  width: 351px;
  height: 331px;
  object-fit: cover;
}

/* COMPANY END  */

/* FOOTER START  */

.footer{
  padding-bottom: 46px;
}
.footer__list{
  list-style: none;
}
.footer__logo__link{
  margin-bottom: 25px;
}
.footer__item:not(:last-child){
  margin-right: 16px;
}
.footer__title {
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 8px;
}
.footer__nav__list {
  list-style: none;
}
.foot-nav__link {
  text-decoration: none;
  line-height: 35px;
  color: var(--text-color);
  position: relative;
  padding-bottom: 5px;
}
.foot-nav__link:hover{
  color: var(--primary-color);
}
.footer__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
  width: 280px;
  margin-bottom: 34px;
}
.footer__input {
  width: 325px;
  height: 48px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding: 0 15px;
  margin-bottom: 21px;
}
.footer__input:focus{
  outline: none;
}
.footer__btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 25px;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}
.footer__btn:hover{
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid #bcd0e5;
}
.footer__reserved{
  text-align: center;
  color: var(--text-color);
}

/* FOOTER END  */

/* FOOTER RESPONSIVE START  */

@media screen and (max-width: 770px) {
  .footer__inner{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .footer__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 31px;
  }
  .foot-nav__item:last-child{
    margin-bottom: 32px;
  }
  .footer__btn{
    margin-bottom: 44px;
  }
  .footer__text{
    margin-bottom: 34px;
  }
  .footer__input{
    margin-top: 34px;
  }
  .footer__reserved{
    width: 100%;
    white-space: nowrap;
    font-size: 14px;
  }

  .footer__text{
    margin: 0 auto;
  }
  
}

/* FOOTER RESPONSIVE END  */


/* COMPANY RESPONSIVE START  */

@media screen and (max-width: 995px) {
  .company__link{
    margin-bottom: 42px;
    display: inline-block;
  }
  .company__inner{
    width: 100%;
    padding: 20px 0;
  }
  .company__title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 28px;
  }
  .company__wrapper{
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .company{
    margin-bottom: 100px;
    padding: 0 15px;
  }
}

/* COMPANY RESPONSIVE END  */



/* CLIENTS RESPONSIVE START  */

@media screen and (max-width: 1030px) {
  .client__list{
    flex-direction: column;
    align-items: center;
  }
  .client__item{
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 800px) {
  .client__list{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .client__text__wrapper{
    width: 100%;
    margin: 0 auto;
  }
  .client__text{
    width: 100%;
  }
  .client{
    margin-bottom: 100px;
  }
}

/* CLIENT RESPONSIVE END  */


/* PRICE RESPONSIVE START  */

@media screen and (max-width: 1102px) {
  .price__list{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .price__item{
    margin-bottom: 32px;
  }
  .price__item:not(:last-child){
    margin-right: 0;
  }
}
@media screen and (max-width: 550px) {
  .price__text{
    width: 100%;
  }
  .price{
    margin-bottom: 90px;
  }
}

/* PRICE RESPONSIVE END  */


/* STRATEGY RESPONSIVE START  */

@media screen and (max-width: 1035px) {
  .strategy__list{
    width: 100%;
    justify-content: center;
  }
  .strategy__btn__wrapper{
    display: none;
  }
  .strategy__item{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    position: relative;
  }
  .strategy__item:last-child{
    width: 96%;
    position: relative;
    margin-right: 30px;
    left: 3%;
  }
  .strategy__text__wrapper{
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 800px) {
  .strategy__item{
    width: 340px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .strategy__title{
    white-space: nowrap;
  }
  .strategy__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .strategy__item:last-child{
    width: 340px;
    position: relative;
  }
  .strategy{
    display: flex;
    flex-direction: column;
    margin-bottom: -60px;
  }
  
  
}

/* STRATEGY RESPONSIVE END  */


/* EXPERT RESPONSIVE START  */

@media screen and (max-width: 864px) { 
  .expert__title{
    margin-bottom: 10px;
  }
  .expert__list{
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .expert__text{
    width: 100%;
  }
  .expert__item:nth-child(3){
    display: flex;
    flex-direction: row;
  }
  .expert__item:nth-child(4){
    display: flex;
    flex-direction: row-reverse;
  }
  .expert__item{
    margin-bottom: 40px;
  }
  .expert__link{
    margin: 0 auto;
  }
}
@media screen and (max-width: 461px) {
  .expert__item{
    width: 100%;
  }
  .expert__desc{
    width: 55%;
  }
  
}

/* EXPERT RESPONSIVE END  */

/* MANAGEMENT RESPONSIVE START  */

@media screen and (max-width: 1020px) {
  .management__list{
    justify-content: center;
    margin: 0 0;
  }
  .management__img{
    margin-bottom: 40px;
  }
  .management__item{
    flex-direction: column-reverse;
  }
  .management__item:nth-child(2){
    justify-content: center;
    flex-direction: column-reverse;
  }
  
}
    

@media screen and (max-width: 576px) {
  .management__img{
    width: 100%;
    height: 100%;
  }
  .management__wrapper{
    width: 100%;
  }
  .management__item{
    width: 98%;
  }
  .management__text{
    width: 100%;
  }
  #management{
    padding: 0 3%;
  }
  .management__inner__item::before{
    width: 19%;
    background-repeat: no-repeat;
    margin-right: 15px;
  }
}

/* MANAGEMENT RESPONSIVE END  */

/* PRODUCT START  */


@media screen and (max-width: 992px) {
  .product__list{
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  .product__item{
    margin-right: 40px;
    margin-bottom: 30px;
  }
  .product__link{
    position: relative;
    left: -10px;
  }
  
}
@media screen and (max-width: 760px) {
  .product__list{
    display: flex;
  }
  .product__item{
    margin: 0 30px;
  }
  .product__link{
    margin: 0 auto;
  }
  
}
@media screen and (max-width: 540px) {
  #hero{
    padding-bottom: 20px;
  }
  .product__title{
    width: 331px;
  }
  .product__item{
    margin: 0 0;
    margin-bottom: 38px;
    width: 100vw;
  }
  #product{
    background-position:  center bottom;
    
  }
}
.product__link{
  position: relative;
  left: 0;
}

/* PRODUCT END  */

/* HERO RESPONSIVE START  */


@media screen and (max-width: 992px) {
  
}
@media screen and (max-width: 885px) {
  .nav__link{
    font-size: 13px;
  }
  .hero__img{
    width: 100%;
    height: 100%;
  }
  .hero__link{
    margin-bottom: 25px;
    font-size: 13px;
    margin-right: 4px;
  }
  .hero__link__wrapper{
    width: 90%;
  }
  .hero__video__link{
    font-size: 12px;
    width: 100%;
  }
   
}
@media screen and (max-width: 768px ) {
    .site-nav{
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      min-height: 100vh;
      padding: 50px;
      background-color: rgba(0, 0, 0, 0.925);
      transition: all 0.4s ease;
      z-index: 11;
    }
    .site-header{
      box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
      padding-bottom: 15px;
    }
    .navbar{
      flex-direction: column;
      text-align: center;
      justify-content: center;
      position: relative;
      left: 20px;
    }
    .nav__link{
      color: var(--white-color);
    }
    .nav__link:hover{
      -webkit-text-fill-color: var(--white-color);
      -webkit-text-stroke-width: 0.8px;
      -webkit-text-stroke-color: var(--white-color);
    }
    .header__btn{
      font-size: 20px;
      padding: 15px 25px;
      width: 80%;
      margin-bottom: 30px;
    }
    .header__list{
      flex-direction: column;
    }
    .hero__title{
      font-size: 36px;
    }
    .nav__link{
      font-size: 25px;
      margin-bottom: 40px;
      display: inline-block;
      transition: all 0.4s ease;
    }
    .nav__link::after{
      content: "";
      width: 100%;
      height: 3px;
      display: inline-block;
      background-color: var(--primary-color);
      transform: scale(0);
      transition: all 0.4s ease;
    }
    .nav__link:hover::after{
      transform: scale(1);
    }
    .header__dark__btn{
      position: absolute;
      right: 8%;
      top: -40px;
    }

    .header__signin__btn{
      background-color: var(--white-color);
      color: #000;
    }
    .hero-content{
      padding-bottom: 100px;
    }
    .display{
      display: block;
      position: absolute;
      top: 0;
    }
    .show{
      right: 0;
      color: #fff;
    }
    .white{
      color: #fff;
      z-index: 22;
    }
    .site-nav__btn{
      position: fixed;
      right: 20px;
      top: 20px;
      color: var(--text-color);
      display: block;
    }
    .header__dark__btn{
      position: absolute;
      right: 15%;
      top: -30px;
    }
    .hero__img{
      width: 100%;
      height: 100%;
    }
   .burger-btn{
     display: block;
     z-index: 11;
     color: var(--text-color);
     font-size: 30px;
   }
   .hero__inner{
     display: flex;
     flex-direction: column-reverse;
     text-align: center;
   }
}

@media screen and (max-width: 1090px) {
  .hero__img{
    width: 80%;
  }
  .hero__inner{
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .hero__link__wrapper{
    position: relative;
    left: 3%;
  }
  
}
@media screen and (max-width: 840px) {
  .header{
    flex-wrap: nowrap;
  }
  .header__link__wrapper{
    margin-bottom: 20px;
    margin: 0 auto;
  }
  .site-nav{
    margin: 0 auto ;
  }
}
@media screen and (max-width: 768px) {
  .site-header{
    padding: 20px;
  }
  .header__link__wrapper{
    margin: 0 0;
  }
  
}

/* HERO END  */

