@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #02897a;
  --text-color: #22343d;
  --white-color: #fff;
  --body-color: #fff;
  --btn-color: #173a56;
  --bg-light: url('../images/bg-img.png');
  --expert-light-img: url('../images/expert-light-img.png');
}
.dark{
  --body-color: #1f2e35;
  --text-color: #fff;
  --btn-color: #fff;
  --bg-light: url('../images/dark-bg.png');
  --expert-light-img: url('../images/expert-dark-img.png');
}
html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 100%;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
.site-header {
  padding-top: 19px;
}
.header__logo__link{
  text-decoration: none;
}
.none{
  display: none;
}
.header__logo__text {
  margin-left: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: var(--btn-color);
}
.header__list {
  list-style: none;
}
.nav__item {
  margin-right: 24px;
}
.nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-color);
}
.nav__link--hover:hover{
  -webkit-text-fill-color: var(--text-color);
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--text-color);
}
.nav__link--active{
  font-weight: 600;
}
.site-nav__btn{
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: var(--white-color);
  display: none;
}
.header__btn, .hero__link, .product__link, .expert__link{
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.4s ease;
  border-radius: 4px;
  padding: 10px 22px 10px 25px;
  margin-right: 24px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid transparent;
}
.header__signin__btn{
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid #bcd0e5;
}
.header__btn:hover{
  background-color: var(--body-color);
  border: 1px solid #bcd0e5;
  color: var(--text-color);
}
.header__dark__btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.burger-btn{
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.4s ease;
  display: none;
  color: var(--text-color);
}
.burger-btn:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* HERO START  */

#hero{
  padding-bottom: 114px;
}
.hero-content {
  padding-top: 43px;
}
.hero__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: var(--text-color);
  margin-bottom: 18px;
}
.hero__desc {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 45px;
}
.hero__link {
  padding: 15px 41px;
  display: inline-block;
}
.hero__link:hover{
  background-color: var(--body-color);
  border: 1px solid #bcd0e5;
  color: var(--text-color);
}
.bxs-right-arrow{
  font-size: 25px;
  position: relative;
  top: 5px;
  margin-right: 8px;
  transition: all 0.5s ease;
}
.hero__video__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
}
.hero__video__link:hover .bxs-right-arrow{
  transform: translate(12px);
}


/* HERO END  */

/* PRODUCT START  */

#product{
  padding-bottom: 90px;
  background-image: var(--bg-light);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 150px;
}
.product__title{
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 58px;
  width: 529px;
  margin: 0 auto;
  margin-bottom: 58px;

}
.product__list{
  list-style: none;
  margin-bottom: 34px;
}
.product__item::before{
  content: "";
  width: 55px;
  height: 55px;
  background-image: url('../images/click-test.svg');
  display: inline-block;
  margin-bottom: 30px;
}
.product__item:nth-child(2)::before{
  background-image: url('../images/design-survey.svg');
}
.product__item:nth-child(3)::before{
  background-image: url('../images/preference.svg');
}
.product__item:nth-child(4)::before{
  background-image: url('../images/five-second-img.svg');
}
.product__sub__title {
  font-size: 22px;
  line-height: 33px;
  color: var(--text-color);
  margin-bottom: 13px;
}
.product__text {
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
  margin-bottom: 26px;
}
.product__link:hover{
  background-color: var(--body-color);
  border: 1px solid #bcd0e5;
  color: var(--text-color);
}
.product__link__wrapper{
  text-align: center;
}

/* PRODUCT END  */

/* MANAGEMENT START  */

.management__title {
  font-weight: 600;
  line-height: 24px;
  color: var(--text-color);
  margin-bottom: 12px;
}
.management__sub__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: var(--text-color);
}
.management__text {
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
  width: 436px;
  margin-bottom: 25px;
}
.management__item{
  margin-bottom: 150px;
}
.management__item:nth-child(even){
  flex-direction: row-reverse;
}
.management__inner__list {
  list-style: none;
}
.management__inner__item{
  display: flex;
  margin-bottom: 30px;
}
.management__inner__item::before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url('../images/tick-img.svg');
  display: inline-block;
  margin-right: 30px;
}
.management__inner__item:nth-child(2)::before{
  background-image: url('../images/red-icon.svg');
}
.management__inner__item:nth-child(3)::before{
  background-image: url('../images/blue-icon.svg');
}

.management__inner__text {
  width: 365px;
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
}

/* MANAGEMENT END  */

/* EXPERT START  */

#expert{
  background-image: var(--expert-light-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 150px;
}
.expert__wrapper{
  text-align: center;
  padding-bottom: 32px;
  padding-top: 53px;
}
.expert__title {
  font-size: 32px;
  line-height: 48px;
  color: var(--text-color);
}
.expert__text {
  font-weight: 500;
  line-height: 26px;
  color: var(--text-color);
  width: 542px;
  margin: 0 auto;
}
.exert__list{
  width: 80%;
}
.expert__item::before{
  content: "";
  width: 102px;
  height: 102px;
  background-image: url('../images/avatar-1.svg');
  display: inline-block;
  margin: 0 16px;
}
.expert__item:not(:nth-child(1)){
  flex-direction: row-reverse;
}
.expert__item:nth-child(4){
  flex-direction: row;
}
.expert__desc{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f281e;
  background-color: var(--white-color);
  padding: 15px 25px;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
}
.expert__link__wrapper{
  text-align: center;
  padding-top: 24px;
}
.expert__link:hover{
  background-color: var(--body-color);
  border: 1px solid #bcd0e5;
  color: var(--text-color);
}
.expert__link{
  display: inline-block;
}
.expert__item{
  position: relative;
  margin-bottom: 24px;
}
.expert__item:nth-child(2)::before{
  background-image: url('../images/avatar-2.svg');
}
.expert__item:nth-child(3)::before{
  background-image: url('../images/avatar-3.svg');
}
.expert__item:nth-child(4)::before{
  background-image: url('../images/avatar-4.svg');
}

/* EXPERT END  */

/* EXPERT RESPONSIVE START  */

@media screen and (max-width: 862px) { 
  .expert__list{
    flex-direction: column;
  }
  .expert__item{
    margin: 0 auto;
    margin-bottom: 30px;
  }
}



/* MANAGEMENT RESPONSIVE START  */

@media screen and (max-width: 1020px) {
  .management__list{
    justify-content: center;
    margin: 0 0;
  }
  .management__img{
    margin-bottom: 40px;
  }
  .management__item{
    flex-direction: column-reverse;
  }
  .management__item:nth-child(2){
    justify-content: center;
    flex-direction: column-reverse;
  }
  
}
    

@media screen and (max-width: 576px) {
  .management__img{
    width: 100%;
    height: 100%;
  }
  .management__item{
    width: 100%;
  }
  .management__text{
    width: 95%;
  }
  #management{
    padding: 0 3%;
  }
}

/* MANAGEMENT RESPONSIVE END  */

/* PRODUCT START  */


@media screen and (max-width: 992px) {
  .product__list{
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  .product__item{
    margin-right: 40px;
    margin-bottom: 30px;
  }
  .product__link{
    position: relative;
    left: -10px;
  }
  
}
@media screen and (max-width: 760px) {
  .product__list{
    display: flex;
  }
  .product__item{
    margin: 0 30px;
  }
  .product__link{
    margin: 0 auto;
  }
  
}
@media screen and (max-width: 540px) {
  #hero{
    padding-bottom: 20px;
  }
  .product__title{
    width: 331px;
  }
  .product__item{
    margin: 0 0;
    margin-bottom: 38px;
    width: 100vw;
  }
  #product{
    background-position:  center bottom;
    
  }
}
.product__link{
  position: relative;
  left: 0;
}

/* PRODUCT END  */

/* HERO START  */


@media screen and (max-width: 992px) {
  .hero__img{
    width: 400px;
    height: 400px;
  }
  
}
@media screen and (max-width: 885px) {
  .nav__link{
    font-size: 13px;
  }
  .header__btn{
    font-size: 12px;
  }
  .hero__img{
    width: 320px;
    height: 320px;
  }
  
}
@media screen and (max-width: 768px ) {
    .site-nav{
      position: fixed;
      top: 0;
      right: -110%;
      width: 100vw;
      min-height: 100vh;
      padding: 60px;
      background-color: rgba(0, 0, 0, 0.925);
      transition: all 0.4s ease;
      z-index: 11;
    }
    .site-header{
      box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
      padding-bottom: 15px;
    }
    .navbar{
      flex-direction: column;
      text-align: center;
      justify-content: center;
      position: relative;
      left: 20px;
    }
    .nav__link{
      color: var(--white-color);
    }
    .nav__link:hover{
      -webkit-text-fill-color: var(--white-color);
      -webkit-text-stroke-width: 0.8px;
      -webkit-text-stroke-color: var(--white-color);
    }
    .header__btn{
      font-size: 20px;
      padding: 15px 25px;
      width: 80%;
      margin-bottom: 30px;
    }
    .header__list{
      flex-direction: column;
    }
    .hero__title{
      font-size: 36px;
    }
    .nav__link{
      font-size: 25px;
      margin-bottom: 40px;
      display: inline-block;
      transition: all 0.4s ease;
    }
    .nav__link::after{
      content: "";
      width: 100%;
      height: 3px;
      display: inline-block;
      background-color: var(--primary-color);
      transform: scale(0);
      transition: all 0.4s ease;
    }
    .nav__link:hover::after{
      transform: scale(1);
    }
    .header__dark__btn{
      position: absolute;
      right: 8%;
      top: -40px;
    }

    .header__signin__btn{
      background-color: var(--white-color);
      color: #000;
    }
    .hero-content{
      padding-bottom: 100px;
    }
    .display{
      display: block;
      position: absolute;
      top: 0;
    }
    .show{
      right: 0;
      color: #fff;
    }
    .white{
      color: #fff;
      z-index: 22;
    }
    .site-nav__btn{
      position: fixed;
      right: 20px;
      top: 20px;
      color: var(--text-color);
      display: block;
    }
    .hero__img{
      width: 338px;
      height: 310px;
    }
   .burger-btn{
     display: block;
     z-index: 11;
     color: var(--text-color);
     font-size: 30px;
   }
   .hero__inner{
     display: flex;
     flex-direction: column-reverse;
     text-align: center;
   }
   
}

/* HERO END  */

